<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/users/{userId}/update(userId=${user.id})}" method="post" th:object="${user}">
    <label for="username">Username:
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <label for="birthDate">Birthdate:
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
    </label><br>
    <label for="lastName">Lastname:
        <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
    </label><br>
    <label for="firstName">Firstname:
        <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
    </label><br>
    <div th:each="role: ${roles}">
        <label th:for="${role}" th:text="${role}">
            <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        </label>
    </div>
    <div>
        <label for="company">Company:
            <select id="company" name="companyId">
                <option th:each="company: ${companies}"
                        th:value="${company.id}"
                        th:selected="${company.id == user.company.id}"
                        th:text="${company.name}">Company:
                </option>
            </select>
        </label>
    </div>
    <button type="submit">Update</button>
</form>

<form th:action="@{/users/{userId}/remove(userId=${user.id})}" th:if="${user.role.name() == 'ADMIN'}" method="post">
    <button type="submit">Remove</button>
</form>
</body>
</html>